@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.intro-container {
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.intro-text {
  font-size: 5rem;
  font-weight: bold;
  font-family: 'Arial', sans-serif;
  color: white;
  display: flex;
  gap: 10px;
}

.intro-subtext {
  font-family: 'Space Grotesk', serif;
  font-size: 1rem;
  color: white;
  margin-top: 5px;
  opacity: 0;
  text-shadow: 0 0 3px #fff, 0 0 6px rgba(255, 255, 255, 0.7), 0 0 9px rgba(255, 255, 255, 0.5);
  animation: fadeIn 1s ease-in-out forwards, softGlow 2s infinite alternate;
  animation-delay: 1.8s;
}

.intro-text span {
  opacity: 0;
  text-shadow: 0 0 5px #fff, 0 0 15px #fff, 0 0 25px rgba(255, 255, 255, 0.9), 0 0 35px rgba(255, 255, 255, 0.7);
  animation: fadeIn 1s ease-in-out forwards, flicker 1.5s infinite alternate;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes flicker {
  0% { text-shadow: 0 0 5px #fff, 0 0 15px #fff, 0 0 25px rgba(255, 255, 255, 0.9), 0 0 35px rgba(255, 255, 255, 0.7); }
  50% { text-shadow: 0 0 6px #fff, 0 0 12px #fff, 0 0 22px rgba(255, 255, 255, 0.8), 0 0 32px rgba(255, 255, 255, 0.6); }
  100% { text-shadow: 0 0 4px #fff, 0 0 10px #fff, 0 0 20px rgba(255, 255, 255, 0.7), 0 0 30px rgba(255, 255, 255, 0.5); }
}

@keyframes softGlow {
  0% { text-shadow: 0 0 2px #fff, 0 0 4px rgba(255, 255, 255, 0.6), 0 0 6px rgba(255, 255, 255, 0.4); }
  100% { text-shadow: 0 0 4px #fff, 0 0 8px rgba(255, 255, 255, 0.8), 0 0 12px rgba(255, 255, 255, 0.6); }
}

.fade-out {
  animation: fadeOutAnim 1.2s ease forwards;
}

@keyframes fadeOutAnim {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}
